<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emin.digit.mobile.android">

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.emin.digit.mobile.android.storage.preference" >
    </instrumentation>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="android.test.runner"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.emtest.activity.DatabaseActivity">
            <intent-filter>
                <action android:name="com.emtest.activity.DatabaseActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.emtest.activity.DatabaseQueryActivity">
            <intent-filter>
                <action android:name="com.emtest.activity.DatabaseQueryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.emtest.activity.SingleQueryActivity">
            <intent-filter>
                <action android:name="com.emtest.activity.SingleQueryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.emtest.activity.UnionQueryActivity" >
            <intent-filter>
                <action android:name="com.emtest.activity.UnionQueryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>